[submodule "(427) Neural Network Methods for Signals in Engineering and Physical Sciences"]
	path = (427) Neural Network Methods for Signals in Engineering and Physical Sciences
	url = git@github.com:shivamhingorani/UW-PHYS-NeuralNetworks.git
